# PostgreSQL
POSTGRES_DB=shoe_store
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password

# Local PostgreSQL port
POSTGRES_LOCAL_PORT=5432

# Spring Boot application port
SPRING_LOCAL_PORT=8080

# Java remote debug port
DEBUG_PORT=5005

# Local datasource URL
DATASOURCE_URL=jdbc:postgresql://localhost:5432/shoe_store